* {
    -fx-background-radius: 5px;
}

.imageView:hover {
    -fx-cursor: hand;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.button:hover {
    -fx-cursor: hand;
}

.objectDetail {
    -fx-border-radius: 5px;
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 1px;
}